.navBar{
    background-color: navy;
    color:whitesmoke;
    margin:0px;
    padding:16px;
    border-radius: 16px;
    margin-bottom: 16px;
}
.cardContainer{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:16px;
}
@media only screen and (max-width:576px){
    .cardContainer{
        grid-template-columns: repeat(1, 1fr);
    }
}